// BG Colors:
$mainBlackBG: #161717;
$mainWhiteBG: #FFFFFF;
$brandYellowBG: #ffe633;
$lightGrayBG: #e5e7eb;

$drawerOffwhiteBG: #f8f6f1;

// Text Colors:
$mainWhiteText: #FFFFFF;
$mainBlackText: #000000;
$brandYellowText: #ffe633;
